@import "tailwindcss";
@import 'swiper/swiper-bundle.css';

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/poppins/poppins-regular-webfont.woff2') format('woff2'),
       url('/fonts/poppins/poppins-regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('/fonts/poppins/poppins-semibold-webfont.woff2') format('woff2'),
       url('/fonts/poppins/poppins-semibold-webfont.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('/fonts/poppins/poppins-bold-webfont.woff2') format('woff2'),
       url('/fonts/poppins/poppins-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'satisfy';
  src: url('/fonts/satisfy/satisfy-regular-webfont.woff2') format('woff2'),
       url('/fonts/satisfy/satisfy-regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.playwrite {
  font-family: "Playwrite AU NSW", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

 /*Main menu*/
.main-menu{
  @apply absolute right-0 top-[100%] w-full bg-[#1d94b0] text-white;
}
  .main-menu .menu-wrapper{
      max-height:0;
      opacity: 0;
      transform: translateY(-10px);
      transition: all 1s;
  }
  .main-menu.active .menu-wrapper{
      @apply h-auto;
      max-height:400px;
      opacity: 1;
      transform: translateY(0);
      pointer-events: auto;
  }
  .main-menu .menu-wrapper li a{
      font-weight: 600;
      color:#fff;
  }

  .menu-toggle{
    @apply block;
  }
  .menu-toggle .menu-bar{
    @apply block w-[22px] h-[3px] my-1 bg-[#1d94b0];
  }

.footer .main-menu {
    @apply bg-transparent relative top-auto right-auto mb-0;
}
  .footer .main-menu .menu-wrapper{
      transform: translateY(0);
      opacity:1;
      height:auto;
      position:relative;
      top:auto;
      max-height: none;
  }
  .footer .main-menu .menu-wrapper ul{
      @apply flex-row pb-0 px-0 md:pb-3;
  }
  .footer .main-menu .menu-wrapper li a{
    font-weight: 400;
    color:#fff;
  }

/*Slider*/
.swiper-button-next, .swiper-button-prev {
    @apply text-white text-3xl;
}
.primary-button {
    @apply relative px-3  mt-10 m-auto md:ml-0  text-white rounded cursor-pointer overflow-hidden;
    background:linear-gradient(to right, #1d94b0 75%, #f9849f 25%);
    background-size: 400% 100%;
    background-position:75% 0%;
    transition: background-position 0.5s ease-out;
    padding:7px 9px 4px;
    box-shadow:3px 2px 8px #666;
}
.primary-button:focus,
.primary-button:hover{
    background-position: 100% 0%;
}

.slogan-title{
    @apply  w-[63%] !text-[12px] text-[#f9849f] absolute top-4 right-2 md:!text-[25px] md:w-auto xl:top-8 md:right-auto md:left-[200px];
    font-weight: 600;
}
.lang-si .slogan-title{
    @apply !text-[10px] md:!text-[20px];
}

@media (min-width: 768px) {

 
}
@media (min-width: 1024px) {
  /*Main menu*/
  .main-menu{
    @apply relative flex w-auto right-auto top-auto mb-3  bg-transparent text-[#666];
  }
  .header .main-menu{
    @apply mt-[54px] xl:mt-[68px];
  }
    .menu-toggle .menu-bar{
        @apply hidden;
    }
    .main-menu .menu-wrapper{
        transform: translateY(0);
        max-height:none;
        opacity: 1;
    }
    .main-menu .menu-wrapper li{
        @apply relative;
    }
    .main-menu .menu-wrapper li a{
        font-weight: 600;
        color:#1d94b0;
    }
    .main-menu .menu-wrapper li a:hover{
      color:#f9849f;
    }
    .main-menu .menu-wrapper li:after{
        width:100%;
        height:2px;
        position:relative;
    }
}
 