@import "tailwindcss";
@import 'swiper/swiper-bundle.css';

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/poppins/poppins-regular-webfont.woff2') format('woff2'),
       url('/fonts/poppins/poppins-regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('/fonts/poppins/poppins-semibold-webfont.woff2') format('woff2'),
       url('/fonts/poppins/poppins-semibold-webfont.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('/fonts/poppins/poppins-bold-webfont.woff2') format('woff2'),
       url('/fonts/poppins/poppins-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'satisfy';
  src: url('/fonts/satisfy/satisfy-regular-webfont.woff2') format('woff2'),
       url('/fonts/satisfy/satisfy-regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.swiper-button-next, .swiper-button-prev {
  @apply text-white text-3xl;
}
.primary-button {
  @apply relative px-3 py-1 mt-10 m-auto md:ml-0  text-white rounded cursor-pointer overflow-hidden;
  background:linear-gradient(to right, #666 75%, #f9849f 25%);
  background-size: 400% 100%;
  background-position:75% 0%;
  transition: background-position 0.5s ease-out;
  box-shadow:3px 2px 8px #666;
}
.primary-button:hover{
  background-position: 100% 0%;
}