@import "tailwindcss";
@import 'swiper/swiper-bundle.css';

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/poppins/poppins-regular-webfont.woff2') format('woff2'),
       url('/fonts/poppins/poppins-regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('/fonts/poppins/poppins-semibold-webfont.woff2') format('woff2'),
       url('/fonts/poppins/poppins-semibold-webfont.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('/fonts/poppins/poppins-bold-webfont.woff2') format('woff2'),
       url('/fonts/poppins/poppins-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'satisfy';
  src: url('/fonts/satisfy/satisfy-regular-webfont.woff2') format('woff2'),
       url('/fonts/satisfy/satisfy-regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

 /*Main menu*/
 .main-menu{
  @apply absolute right-0 top-[100%] w-full bg-[#1d94b0] text-white;
}
.main-menu .menu-wrapper{
  max-height:0;
  opacity: 0;
  transform: translateY(-10px);
  transition: all 1s;
}
.main-menu.active .menu-wrapper{
  @apply h-auto;
  max-height:400px;
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}
.menu-toggle{
  @apply block;
}
.menu-toggle .menu-bar{
  @apply block w-[22px] h-[3px] my-1 bg-[#1d94b0];
}

/*Slider*/
.swiper-button-next, .swiper-button-prev {
  @apply text-white text-3xl;
}
.primary-button {
  @apply relative px-3  mt-10 m-auto md:ml-0  text-white rounded cursor-pointer overflow-hidden;
  background:linear-gradient(to right, #1d94b0 75%, #f9849f 25%);
  background-size: 400% 100%;
  background-position:75% 0%;
  transition: background-position 0.5s ease-out;
  padding:7px 9px 4px;
  box-shadow:3px 2px 8px #666;
}
.primary-button:focus,
.primary-button:hover{
  background-position: 100% 0%;
}

.slogan-title{
  @apply  w-[75%] !text-[17px] text-[#f9849f] mt-[12px] text-center md:!text-[35px] md:mt-[25px] md:w-auto;
}
.lang-si .slogan-title{
  @apply !text-[11px] md:!text-[20px] mt-[12px] md:mt-[50px];
}

@media (min-width: 768px) {
  /*Main menu*/
  .main-menu{
    @apply relative flex w-auto items-end right-auto top-auto items-end mb-5 bg-transparent text-[#666];
  }
  .menu-toggle .menu-bar{
    @apply hidden;
  }
  .main-menu .menu-wrapper{
    max-height:none;
    opacity: 1;
  }
  .main-menu .menu-wrapper li{
    @apply relative;
  }
  .main-menu .menu-wrapper li:after{
      width:100%;
      height:2px;
      position:relative;
  }
}
 